.nav-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
}

.navleft-link {
  padding: 15px 30px;
  color: white;

  text-decoration: none;
}

.navright-link1 {
  padding: 15px 15px;
  color: white;
  text-decoration: none;
}

/* .navright-link1:hover,
.navleft-link:hover {
  background-color: white;
  color: black;
} */

.actcls {
  background-color: white !important;
  color: black !important;
}
